.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/AndroVDR/build/
!/ViewPagerIndicator/
/ViewPagerIndicator/*
!/ViewPagerIndicator/ViewPagerIndicator.iml
!/svdrp4j/
/svdrp4j/*
!/svdrp4j/svdrp4j.iml
